body{
  font-size: 0.8em;
  font-family: Arial, Verdana, sans-serif;
  letter-spacing: 0.15em;	
  background-color: #efefef;
} 

h1 {
  font-size: 1.5em; 
}

h2 {
  font-size: 1.33em;
}

h3 {
  font-size: 1.25em;
}

#page {
  width: 960px;
  border: 4px double #000;
  padding: 20px;
  margin: 10px auto;
}

#logo {
  width: 303px;
  margin: 10px auto 25px auto;
}

#content {
  color: #665544;
  width: 600px; 
  margin: 20px auto;
  overflow: hidden;
}

#navigation {
  width: 625px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding: 15px;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
}

#navigation li {
  display: inline;
  margin: 0 3px;
}

a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
	
a:hover, a#current-page {
  color: #cc3333;
  background-color: #ffffff;
}

#content img {
  float: left;
  margin: 0 20px 20px 0;
}

#column1of2 {
 float: left;
 width: 280px;
 margin: 10px auto;
}

#column2of2 {
  float: left;
  width: 280px;
  margin: 10px auto;
}

#gallery-content {
  width: 500px;
  margin: 20px auto;
  overflow: hidden;
}

.entry {
  font-size: 0.7em;
  width: 220px;
  height: 220px;
  float: left;
  margin: 10px;
  background-image: url("../images/shadow.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

figure {
  width: 202px;
  height: 193px;
  margin: 0;
  padding: 9px;
  background-color: #e7e3d8;
  overflow: hidden;
}

figure img {
  width: 200px;
  height: 150px;
  border: 1px solid #8c9c9e;
}

figcaption {
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
  padding-top: 5px;
  padding-left: 25px;
}

table {
  border: 0;
}

th {
  text-align: left;
}

tr, th{
  padding: 5px 30px 5px 10px;
  font-size: 90%;
  margin: 0;
  background-color: #cbd2d8;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
  text-shadow: 1px 1px 1px #fff;
}

tr {
  text-align: right;
}

.even{
  background-color: #F1F8FE;
}

fieldset {
  width: 310px;
  margin-top: 20px;
  border: 1px solid #fff;
}

#contact_content {
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

legend {
  font-style: italic;
  color: #666;
}

.title {
  float: left;
  width: 150px;
  clear: left;
}

input {
  width: 120px;
  border: 1px solid #d6d6d6;
  padding: 2px;
}

input:hover {
  background-color: #d0e2f0;  
}

input:focus {
  background-color: #d0e2f0;
  border: 1px solid #999;
}

#submit {
  width: 310px;
  text-align: right;
}

input#button {
  border: 1px solid #063;
  background-color: #096;
  padding: 5px;
  margin-top: 10px;
}

input#button:hover {
  background-color: #0c3;
  cursor: pointer;
}










