#four {
	background-color: #d95f76;
	color: #3e454c;
	}
	
#three {
	background-color: #f28095;
	color: #65C5BC;
	}
	
#two {
	background-color: #666df2;
	color: #7ecefd;
	}
	
#one {
	background-color: #8596f2;
	color: #fff6e5
	}
	
#zero {
	background-color: #f2dbae;
	color: ff7f66;
	}